@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* font-family: "Bricolage Grotesque", sans-serif; */
/* font-family: "DM Sans", sans-serif; */

:root {
  /* Neutral */
  --neutral-900-main-background: hsl(243, 96%, 9%);
  --neutral-800-background: hsl(243, 27%, 20%);
  --neutral-700-background-2: hsl(243, 23%, 24%);
  --neutral-600-background-3: hsl(243, 23%, 30%);
  --neutral-300-background-4: hsl(240, 6%, 70%);
  --neutral-200-text-colour: hsl(250, 6%, 84%);
  --neutral-0-text-colour-2: hsl(0, 0%, 100%);

  /* Orange */
  --orange-500: hsl(28, 100%, 52%);

  /* Blue */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: var(--neutral-900-main-background);
  padding: 2vw 5vw;
  color: var(--neutral-0-text-colour-2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-btn {
  all: unset;
  background: var(--neutral-600-background-3);
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

main {
  width: 100%;
  margin-top: 2vw;
}
main h1 {
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 3rem;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 3rem;
}

.search-btn-inside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: "DM Sans", sans-serif;
}
.search-btn-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--neutral-600-background-3);
  padding: 15px 20px;
  border-radius: 10px;
  width: 500px;
  gap: 20px;
}
.search-btn-input input {
  all: unset;
  width: 100%;
  color: var(--neutral-0-text-colour-2);
}
.search-btn-input input::placeholder {
  color: var(--neutral-300-background-4);
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.2rem;
}
.search-btn-inside button {
  all: unset;
  background: var(--blue-500);
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: larger;
}
.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.left,
.right {
  width: 100%;
  height: 490px;
}

/* Responsiveness  */
