@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* font-family: "Bricolage Grotesque", sans-serif; */
/* font-family: "DM Sans", sans-serif; */

:root {
  /* Neutral */
  --neutral-900-main-background: hsl(243, 96%, 9%);
  --neutral-800-background: hsl(243, 27%, 20%);
  --neutral-700-background-2: hsl(243, 23%, 24%);
  --neutral-600-background-3: hsl(243, 23%, 30%);
  --neutral-300-background-4: hsl(240, 6%, 70%);
  --neutral-200-text-colour: hsl(250, 6%, 84%);
  --neutral-0-text-colour-2: hsl(0, 0%, 100%);


  /* Orange */
  --orange-500: hsl(28, 100%, 52%);

  /* Blue */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --border-radius-lg: 24px;
    --border-radius-sm: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--neutral-0-text-colour-2);
}

body {
  background-color: var(--neutral-900-main-background);
  padding: 30px 50px;
  height: 100svh;
  color: var(--neutral-0-text-colour-2);
}

.navBar {
display: flex;
justify-content: space-between;
align-items: center;
}

.switch-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--neutral-600-background-3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  padding: 10px;

}

.heading-line{
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 15px 0px;
}

.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.search-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--neutral-600-background-3);
  width: 350px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
}
.search-bar input {
  width: 280px;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
}
.search-bar input::placeholder{
  font-size: larger;
  color: var(--neutral-200-text-colour);
}
